@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
    display: none;
}
